$PRIMARY-COLOR: #c2278e;
$NAV-LINK-COLOR: #292929bf;
$SOCIAL-ICON-COLOR: #2c2c2c;
$Montnates: "Montserrat Alternates", sans-serif;
$Plus-Jakarta-Sans: "Plus Jakarta Sans", sans-serif;
$Oswald: "Oswald", sans-serif;
$Archivo: "Archivo", sans-serif;
$Poppins: "Poppins", sans-serif;
$Heebo: "Heebo", sans-serif;
$Montserrat: "Montserrat", sans-serif;
$breakpoint: 640px;
$breakpoint2: 768px;
$breakpoint3: 1024px;
$breakpoint4: 1280px;
